.App{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(70, 75, 77);
    color: whitesmoke;
}

nav ul{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.main-page{
    width: 100%;
  }
  
  
  .filter-main{
    display: flex;
    min-height: 8vh;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    background-color: orange;
    flex: 1;
  }

  .filter-main input{
    width: auto;
  }
  
  .store-display{
    display: flex;
    height: auto;
    background-color: yellow;
    flex: 5;
  }
  
  .store-display-inner{
    display: flex;
    margin: auto;
    padding-top: 20px;
    width: 70%;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }
  
  .store-display-item{
    display: flex;
    Flex: 1 0 21%;
    height: 400px;
    width: 260px ;
    margin: 10px 30px 50px 30px;
    background-color: purple;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .store-display-item ul{
    list-style: none;
    text-align: left;
    width: 100%;
  }
  
  .store-display-item ul .name{
    font-size: 1.8rem;
    
  }
  
  .store-display-item button{
    height: 50px;
    width: 100px;
    margin-bottom: 10px;
  }